@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

:root {
  --fundo-principal: #E0D7CF;
  --texto: #222222;
  --texto-inverso: #F5F5F5;
  --destaque: #6B4226;
  --destaque-inverso: #996247;
  --fundo-card: #F5F5F5;
  --menu-mobile: rgba(107, 66, 38, 0.9);
}

body.escuro {
  --fundo-principal: #222222;
  --texto: #E0E0E0;
  --texto-inverso: #333333;
  --destaque: #556B2F;
  --destaque-inverso: #758D4E;
  --fundo-card: #444444;
  --menu-mobile: rgba(117, 141, 78, 0.8);
}

body{
  font-family: "Poppins", sans-serif;
  line-height: 1.5rem;
  background-color: var(--fundo-principal);
  color: var(--texto);
  text-decoration: none;
}

.wrapper{
  /* max-width: 2000px; */
  margin: auto;
}

/* HEADER */
header{
  padding: 28px 4%;
  position: sticky;
  top: 0;
  z-index: 3;

  background-color: var(--destaque);
  color: var(--texto);
}

.nav-bar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 24px;
  font-weight: 600;
  color: var(--texto-inverso);
  text-decoration: none;
}

.nav-list{
  display: flex;
  list-style: none;
  gap: 4px;
}

.nav-item a{
  font-weight: 600;
  position: relative;
  padding-bottom: 4px;
  color: var(--texto-inverso);
  text-decoration: none;
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s ease;
}

.nav-item a:hover{
  background-color: var(--destaque-inverso);
  color: var(--texto);
}

.mobile-btn{
  display: none;
}

@media screen and (max-width: 900px){
  .nav-list{
    position: absolute;
    top: 100px;
    right: 8%;
    flex-direction: column;
    gap: 24px;
    background: var(--menu-mobile);
    padding: 20px 12px;
    border-radius: 12px;
    transform: translateY(-20px);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .nav-list.active{
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  .nav-bar .btn-default{
    display: none;
  }

  .mobile-btn{
    color: var(--texto-inverso);
    display: block;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
/* HEADER */

/* PROFILE */
main{
  display: grid;
  grid-template-columns: 1fr 80vw 1fr;
  gap: 20px;
  margin-top: 20px;
}

.ficha{
  background-color: var(--texto-inverso);
  padding: 20px;
  border-radius: 8px;
  grid-column: 2;
}

.ficha img{
  display: block;
  margin: auto;
  margin-bottom: 16px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid var(--texto-inverso);
  outline: 5px solid var(--destaque);
}

.ficha h1{
  color: var(--destaque);
  margin: 15px 0;
  font-size: 1.5rem;
  text-align: left;
}

#social{
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  gap: 1.4rem;
  margin-top: 16px;
}

#social a{
  color: var(--destaque);
  transition: all 0.3s ease;
}

#social a:hover{
  color: var(--destaque-inverso);
  transform: scale(1.1);
}

#social a:active{
  transform: translateY(2px);
}

/* PROFILE */

/* DETALHES */
.detalhes{
  grid-column: 2;
}

article h2{
  color: var(--destaque);
  margin-bottom: 12px;
}

article span{
  font-size: 1.2rem;
}

article{
  background-color: var(--texto-inverso);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
/* DETALHES */

/* SKILLS */
#skills-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

#skills-container .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#skills-container .nome{
  font-weight: bold;
  color: var(--texto);
}

#skills-container .porcent{
  font-weight: bold;
  color: var(--destaque);
}

#skills-container .barra{
  width: 100%;
  height: 8px;
  background-color: var(--fundo-principal);
  border-radius: 4px;
}

#skills-container .progresso{
  height: 100%;
  background-color: var(--destaque-inverso);
  border-radius: 4px;
}

/* SKILLS */

/* FORMACAO */
#formacao-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#formacao-container .curso{
  background-color: var(--fundo-principal);
  border-radius: 8px;
  border-left: 5px solid var(--destaque-inverso);
  color: var(--text);
  padding: 5px 15px;
  transition: all 0.3s ease;
}

#formacao-container .curso:hover{
  border-left-width: 15px;
  border-color: var(--destaque);
  cursor: pointer;
}

#formacao-container .periodo{
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--texto);
}

#formacao-container .instituicao{
  color: var(--destaque);
  font-size: 1.1rem;
}

#formacao-container a {
  color: var(--texto);
}
/* FORMACAO */

/* PROJETOS */
#projeto-container{
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

#projeto-container .projeto{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: var(--fundo-principal);
  padding: 10px;
  border-radius: 8px;
  border-left: 5px solid var(--destaque-inverso);
  transition: all 0.3s ease;
}

#projeto-container .projeto p{
  padding-bottom: 8px;
}

#projeto-container .projeto h3{
  color: var(--destaque);
}

#projeto-container .projeto:hover{
  border-left-width: 15px;
  border-color: var(--destaque);
}

#projeto-container .foto{
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
}

#projeto-container details{
  padding: 10px;
}

#projeto-container details:hover{
  cursor: pointer;
}

#projeto-container details p{
  padding: 10px;
}

#projeto-container .projeto-link{
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  color: var(--destaque);
}

#projeto-container .projeto-link a:hover{
  transform: scale(1.04);
}

@media(min-width: 768px){
  main{
    grid-template-columns: auto 300px 1fr auto;
  }

  section#ficha{
    grid-column: 2 / 3;
    height: fit-content;
    position: sticky;
    top: 105px;
  }

  section#detalhes{
    grid-column: 3 / 4;
  }

  #skills-container{
    grid-template-columns: 1fr 1fr;
  }

  #projeto-container .projeto{
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  #projeto-container .projeto-info{
    max-width: 70%;
  }

  #projeto-container .foto{
    aspect-ratio: 1/1;
    max-width: 30%;
    max-height: 250px;
  }
}

@media (min-width: 2000px){
  main {
    grid-template-columns: 200px 300px 1fr 200px;
  }
}
/* PROJETOS */

/* FOOTER */
footer{
  background-color: var(--destaque);
  color: var(--texto-inverso);
  text-align: center;
  padding: 15px;
}

footer a{
  color: var(--texto-inverso);
  font-weight: bold;
  transition: all 0.3s ease;
}

footer a:hover{
  color: var(--destaque-inverso);
}
/* FOOTER */